<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
</head>
<body>
<h1>Welcome to Student Dashboard</h1>
<p>Here is your information:</p>

<div class="student-info">
    <h3 th:text="${student.fullName}">Full Name</h3>
    <p th:text="'Department: ' + ${student.department}">Department</p>
    <p th:text="'Class: ' + ${student.className}">Class</p>
    <p th:text="'Cohort: ' + ${student.cohort}">Cohort</p>
    <p th:text="'Gender: ' + ${student.gender}">Gender</p>
    <p th:text="'Date of Birth: ' + ${student.dateOfBirth}">Date of Birth</p>
    <p th:text="'Status: ' + ${student.status}">Status</p>
    <p th:text="'Email: ' + ${student.email}">Email</p>
    <p th:text="'Phone: ' + ${student.phoneNumber}">Phone</p>

    <div class="student-photos">
        <p>Student Photo:</p>
        <img src="{{student.studentPhoto}}" alt="Student Photo" />

        <p>Face Photo:</p>
        <img src="{{student.facePhoto}}" alt="Face Photo" />
    </div>
</div>

<a href="/logout">Logout</a>
</body>
</html>
