<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <title>Add New Student</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class="mt-4">Add New Student</h2>
  <form th:action="@{/students/save}" th:object="${student}" method="post">
    <div class="form-group">
      <label>ID</label>
      <label>
        <input type="text" th:field="*{stdId}" class="form-control" required>
      </label>
    </div>
    <div class="form-group">
      <label>Name</label>
      <label>
        <input type="text" th:field="*{stdName}" class="form-control" required>
      </label>
    </div>
    <div class="form-group">
      <label>Email</label>
      <label>
        <input type="email" th:field="*{stdEmail}" class="form-control" required>
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
</body>
</html>
