<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
  <meta charset="UTF-8">
  <title>Quản lý sinh viên</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2 class="mt-4">Danh sách sinh viên</h2>
  <a href="/students/new" class="btn btn-primary mb-2">Thêm ới sinh viên</a>
  <p>Tổng số sinh viên: <span th:text="${totalStudents}"></span></p>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>MSV</th>
      <th>Họ Tên</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th>Hoạt động</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${listStudents}">
      <td th:text="${student.stdId}"></td>
      <td th:text="${student.stdName}"></td>
      <td th:text="${student.stdEmail}"></td>
      <td th:text="${student.stdPhone}"></td>
      <td>
        <a th:href="@{/students/viewmore/{id}(id=${student.id})}" class="btn btn-info">View More</a>
        <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-warning">Edit</a>
        <a th:href="@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
